<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>In & Out</title>
    <link rel="stylesheet" href="/menu/style.css">
    <link rel="stylesheet" href="/calender/style.css">
</head>
<body>
<form id="logout" action="/logout" method="post">
</form>

<div class="header" th:include=".common/menu :: header"></div>

<div class="container">

    <div class="sidebar" th:include=".common/menu :: sidebar"></div>

    <div class="content">
        <div class="calendar">
            <div class="header1">
                <div class="year-month"></div>
                <div class="nav">
                    <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                    <button class="nav-btn go-today" onclick="goToday()">Today</button>
                    <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                </div>
            </div>
            <div class="main">
                <div class="days">
                    <div class="day">일</div>
                    <div class="day">월</div>
                    <div class="day">화</div>
                    <div class="day">수</div>
                    <div class="day">목</div>
                    <div class="day">금</div>
                    <div class="day">토</div>
                </div>
                <div class="dates"></div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>날짜 세부사항</h2>
                <div id="modal-body">
                    <!-- 세부사항 내용이 여기에 표시됩니다 -->
                    <span th:text = "${name}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/calender/index.js"></script>
</body>
</html>
